@model ES_Software.Models.AdminModelPaquetes
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Data;
@{
    Layout = "~/Views/Shared/_DetallesLayout.cshtml";
}
@{
    ViewBag.Title = "MostrarDetalles";
}

<h2>Detalles paquete</h2>

<div class="form-horizontal">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Recurso</th>
                <th>Ubicación</th>

            </tr>
        </thead>
        <tbody>
            @{
                string usuario = ES_Software.Controllers.AccountController.Usario_ctivo;
                SqlDataAdapter da;
                DataSet ds = new DataSet();
                SqlConnection con = new SqlConnection();
                con.ConnectionString = "Data Source=DESKTOP-2OQBEMO;Initial Catalog=ESSoftware;Integrated Security=True";
                SqlCommand cmd = new SqlCommand("VerProductosPorPaquete", con);
                string paquete = ES_Software.Controllers.ClientController.Paquete;
                cmd.CommandType = CommandType.StoredProcedure;
                cmd.Parameters.Add("@idPaquete", System.Data.SqlDbType.Int).Value = int.Parse(paquete);
                da = new SqlDataAdapter(cmd);
                da.Fill(ds);
                con.Open();
                cmd.ExecuteNonQuery();
                con.Close();
                if (!object.Equals(ds.Tables[0], null))
                {
                    if (ds.Tables[0].Rows.Count > 0)
                    {
                        for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                        {
                            <tr>
                                <th scope="row">@ds.Tables[0].Rows[i]["Nombre"]</th>
                                <td>@ds.Tables[0].Rows[i]["Precio"]</td>
                                <td>@ds.Tables[0].Rows[i]["Recurso"]</td>
                                <td>@ds.Tables[0].Rows[i]["Ubicacion"]</td>

                            </tr>
                        }

                    }
                }
            }


        </tbody>

    </table>

</div>