@using System.Data.SqlClient;
@using System.Configuration;
@using System.Data;


@model ES_Software.Models.AdminModelRecursos
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "AdminRecursos";
}
@using (Html.BeginForm("AdminIngresarRecurso", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Ingresar nuevo recurso</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.nombreRecurso, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.nombreRecurso, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.tipoRecurso, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.tipoRecurso, ES_Software.Models.AdminModelRecursos.GetGenderSelectItems())
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.correo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.correo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.telefono, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.provincia, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.provincia, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Aceptar" />
        </div>
    </div>
    <h2>Recursos</h2>
    ///--------------------------------------------------------------------------------------------------------------------------//
    <div class="form-horizontal">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID Recurso</th>
                    <th>Id Tipo Recurso</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Provincia</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    SqlDataAdapter da;
                    DataSet ds = new DataSet();
                    SqlConnection con = new SqlConnection();
                    con.ConnectionString = "Data Source=DESKTOP-2OQBEMO;Initial Catalog=ESSoftware;Integrated Security=True";
                    SqlCommand cmd = new SqlCommand("retornarRecursos", con);
                    da = new SqlDataAdapter(cmd);
                    da.Fill(ds);
                    con.Open();
                    cmd.ExecuteNonQuery();
                    con.Close();
                    if (!object.Equals(ds.Tables[0], null))
                    {
                        if (ds.Tables[0].Rows.Count > 0)
                        {
                            for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@ds.Tables[0].Rows[i]["IdRecurso"]</th>
                                    <td>@ds.Tables[0].Rows[i]["IdTipoRecurso"]</td>
                                    <td>@ds.Tables[0].Rows[i]["Nombre"]</td>
                                    <td>@ds.Tables[0].Rows[i]["Telefono"]</td>
                                    <td>@ds.Tables[0].Rows[i]["Correo"]</td>
                                    <td>@ds.Tables[0].Rows[i]["Provincia"]</td>
                                    <td>@Html.ActionLink("Editar", "EditarRecurso", "Admin", new { id = ds.Tables[0].Rows[i]["Nombre"] }, null)</td>
                                    <td>@Html.ActionLink("Eliminar", "EliminarRecurso", "Admin", new { nombreRecurso = ds.Tables[0].Rows[i]["Nombre"] }, null)</td>
                                </tr>
                            }


                        }
                    }
                }


            </tbody>

        </table>

    </div>

}



